<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Angry Caching Proxy</title>
        <style type="text/css" media="screen">
            body {
                font-family: Georgia;
            }
            a {
                text-decoration: none;
            }
            table {
                text-align: left;
            }
            .deleted {
                text-decoration: line-through;
            }
            tr:hover {
                background-color: lightblue;
            }
            .sort {
                cursor: pointer;
            }
            .search {
                width: 100%;
            }

            #cached-reqs td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow:ellipsis;
            }
            #cached-reqs tr {
                font-size: 10pt;
            }
        </style>
    </head>
    <body>
        <a href="https://github.com/epeli/angry-caching-proxy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
      <h1>Angry Caching Proxy</h1>

      <p>There are {{files/length}} cached requests stored in</p>

      <pre>
      {{cacheDir}}
      </pre>

      <p>
          Using {{total}} of disk space.
          <form action="/deleteall" method="post" accept-charset="utf-8">
              <p><input type="submit" value="clear all"></p>
          </form>
      </p>


      <div id="cached-reqs">
      <input type="text" class="search" placeholder="Search" autofocus >

      <table>
          <thead>
          <tr>
              <th></th>
              <th></th>
              <th class="sort" data-sort="size">bytes</th>
              <th class="sort" data-sort="url">cached url</th>
              <th class="sort" data-sort="timestamp">created</th>
              <th>sha1</th>
          </tr>
          </thead>

          <tbody class="list">
          {{#each files}}
          <tr class="url-row">
              <td><button class="delete" data-sha1="{{sha1}}" >clear</button></td>
              <td><a href="/req/{{sha1}}.json">meta</a></td>
              <td class="humanSize" title="{{size}}" >{{humanSize}}</td>
              <td class="url">
                  <a href="{{url}}">{{url}}</a>
              </td>
              <td class="created">{{created}}</td>
              <td class="sha1">{{sha1}}</td>

              <td class="size" style="display:none;" >{{size}}</td>
              <td class="timestamp" style="display:none;" >{{timestamp}}</td>
          </tr>
          {{/each}}
          </tbody>
      </table>
      </div>
    </body>
    <script type="text/javascript" charset="utf-8" src="/list.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/client.js"> </script>
</html>
